.create-ciudadano-page .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  margin: auto;
}

.create-ciudadano-page .form-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  width: 80%;
  max-width: 600px;
}

.create-ciudadano-page .form-container .form-group span {
  width: 100%;
}

.create-ciudadano-page .form-container .form-label {
  opacity: 0.7;
  margin-bottom: 5px;
}

.create-ciudadano-page .form-container .form-input {
  width: 100%;
}

.create-ciudadano-page .form-container .error-message {
  color: red;
  font-size: 12px;
}

.create-ciudadano-page h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 16px;
}
